bin
*.keystore
env.nmml
env.json
web/lib
web/*.php
*.hash

##### Mac OSX #####

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

##### MonoDevelop #####

#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
test-results/

##### TextMate #####

*.tmproj
*.tmproject
tmtags
.tm*

##### IntelliJ #####

*.iml
*.ipr
*.iws
.idea/